*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/23.jpg);  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    width: 860px; 
    margin: 0 auto;
}

.container ul{
    list-style: none;
    margin-top: 2%;
    display: flex;

}

.container ul li {
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease;
}

.container > ul > li{
    margin-left: 4px;
}

.container ul li:hover{
    background: rgb(0, 207, 69); 
}

.container ul ul{
    opacity: 0;
    flex-direction: column;
}

.container ul li:hover > ul{
    opacity: 1;
    transition: opacity .5s ease;

}

.container ul ul ul{
    margin-left: 170px;
    top: -4px;
    position: absolute;
}
